if SHIELD_ZONKEYTEST_R

config ZMK_KEYBOARD_NAME
    default "zonkeytest_R"

config ZMK_SPLIT
    default y

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_ZONKEYTEST_L

config ZMK_KEYBOARD_NAME
    default "zonkeytest_L"

config ZMK_SPLIT
    default y

endif
