jobs:
  build:
    uses: zmkfirmware/zmk/.github/workflows/build-user-config.yml@v0.3
    with:
      # ここを追加！自分自身のパスを指定します
      build_matrix_path: ".github/workflows/build-test.yml"
      # もし config フォルダの場所が標準と違うならこれも確認
      config_path: "config"
