name: Build
on: [push, pull_request, workflow_dispatch]

jobs:
  build:
    uses: zmkfirmware/zmk/.github/workflows/build-user-config.yml@v0.3
    with:
      # yqのエラーを回避するため、ここに直接ビルドの計画を書いちゃいます！
      # これで build.yaml や build_test.yaml が無くても動きます。
      build_matrix: |
        {
          "include": [
            { "board": "seeeduino_xiao_ble", "shield": "zonkey_test_L rgbled_adapter" },
            { "board": "seeeduino_xiao_ble", "shield": "zonkey_test_R rgbled_adapter" },
            { "board": "seeeduino_xiao_ble", "shield": "settings_reset" }
          ]
        }
